#### (Part 1)

### SUM Questions:
1. Find the total amount of poster_qty paper ordered in the orders table.
2. Find the total amount of standard_qty paper ordered in the orders table.
3. Find the total dollar amount of sales using the total_amt_usd in the orders table.
4. Find the total amount spent on standard_amt_usd and gloss_amt_usd paper for each order in the orders table. This should give a dollar amount for each order in the table.
5. Find the unit cost of each paper.

### MIN, MAX, & AVG Questions:
6. When was the earliest order ever placed?
7. Try performing the same query as in question 6 without using an aggregation function.
8. When did the most recent (latest) web_event occur?
9. Try to perform the result of the previous query without using an aggregation function.
10. Find the mean (AVERAGE) amount spent per order on each paper type, as well as the mean amount of each paper type purchased per order. Your final answer should have 6 values - one for each paper type for the average number of sales, as well as the average amount.

____________

#### (Part 2)

### GROUP BY Questions:
11. Which account (by name) placed the earliest order? Include the account name and the date of the order.
12. Find the total sales in USD for each account. You should include two columns - the total sales for each company's orders in USD and the company name.
13. Via what channel did the most recent (latest) web_event occur, which account was associated with this web_event? Your query should return only three values - the date, channel, and account name.
14. Find the total number of times each type of channel from the web_events was used. Your final table should have two columns - the channel and the number of times the channel was used.
15. Who was the primary contact associated with the earliest web_event?
16. What was the smallest order placed by each account in terms of total USD? Provide only two columns - the account name and the total USD. Order from smallest dollar amounts to largest.
17. Find the number of sales reps in each region. Your final table should have two columns - the region and the number of sales reps. Order from fewest reps to most reps.
18. For each account, determine the average amount of each type of paper they purchased across their orders. Your result should have four columns - one for the account name and one for the average quantity purchased for each of the paper types for each account.
19. For each account, determine the average amount spent per order on each paper type. Your result should have four columns - one for the account name and one for the average amount spent on each paper type.
20. Determine the number of times a particular channel was used in the web_events table for each sales rep. Your final table should have three columns - the name of the sales rep, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.
21. Determine the number of times a particular channel was used in the web_events table for each region. Your final table should have three columns - the region name, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.

_______

#### (Part 3)

### DISTINCT Questions:
22. Are any accounts associated with more than one region?
23. Have any sales reps worked on more than one account?  

### HAVING Questions:
24. How many of the sales reps have more than 5 accounts that they manage?  
25. How many accounts have more than 20 orders?  
26. Which account has the most orders?  
27. How many accounts spent more than 30,000 USD total across all orders?  
28. Which accounts spent less than 1,000 USD total across all orders?  
29. Which account has spent the most with us?  
30. Which account has spent the least with us?  
31. Which accounts used Facebook as a channel to contact customers more than 6 times?  
32. Which account used Facebook most as a channel?  
33. Which channel was most frequently used by most accounts?  


_______

#### (Part 4)

### DATE Function Questions:
34. Find the sales in terms of total dollars for all orders in each year, ordered from greatest to least.  
35. Which month did Parch & Posey have the greatest sales in terms of total dollars? Are all months evenly represented by the dataset?  
36. Which year did Parch & Posey have the greatest sales in terms of total number of orders? Are all years evenly represented by the dataset?  
37. Which month did Parch & Posey have the greatest sales in terms of total number of orders? Are all months evenly represented by the dataset?  
38. In which month of which year did Walmart spend the most on gloss paper in terms of dollars?  

### CASE Questions:
39. Write a query to display for each order, the account ID, total amount of the order, and the level of the order - ‘Large’ or ‘Small’ - depending on if the order is 3000 USD or more, or smaller than 3000 USD.  
40. Write a query to display the number of orders in each of three categories, based on the total number of items in each order. The three categories are: 'At Least 2000', 'Between 1000 and 2000' and 'Less than 1000'.  
41. We would like to understand 3 different levels of customers based on the amount associated with their purchases. The top level includes anyone with a Lifetime Value (total sales of all orders) greater than 200,000 USD. The second level is between 200,000 and 100,000 USD. The lowest level is anyone under 100,000 USD. Provide a table that includes the level associated with each account. You should provide the account name, the total sales of all orders for the customer, and the level. Order with the top spending customers listed first.  
42. We would now like to perform a similar calculation to the first, but we want to obtain the total amount spent by customers only in 2016 and 2017. Keep the same levels as in the previous question. Order with the top spending customers listed first.

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:Champions12!@localhost:5432/postgres

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

#### 22. Are any accounts associated with more than one region?

In [11]:
%%sql
SELECT 
    name AS company,
    COUNT(DISTINCT region_id) AS unique_region_count
FROM(
SELECT
    a.*,
    sr.name AS rep_name,
    sr.region_id
FROM accounts AS a
JOIN sales_reps AS sr
ON a.sales_rep_id = sr.id
) AS rep_account
GROUP BY company
ORDER BY unique_region_count DESC

 * postgresql://postgres:***@localhost:5432/postgres
351 rows affected.

[('3M', 1),
 ('ADP', 1),
 ('AECOM', 1),
 ('AES', 1),
 ('AIG', 1),
 ('AT&T', 1),
 ('AbbVie', 1),
 ('Abbott Laboratories', 1),
 ('Advance Auto Parts', 1),
 ('Aetna', 1),
 ('Aflac', 1),
 ('Air Products & Chemicals', 1),
 ('Alcoa', 1),
 ('Allstate', 1),
 ('Ally Financial', 1),
 ('Alphabet', 1),
 ('Altria Group', 1),
 ('Amazon.com', 1),
 ('American Airlines Group', 1),
 ('American Electric Power', 1),
 ('American Express', 1),
 ('American Family Insurance Group', 1),
 ('Ameriprise Financial', 1),
 ('AmerisourceBergen', 1),
 ('Amgen', 1),
 ('Anadarko Petroleum', 1),
 ('Anthem', 1),
 ('Apple', 1),
 ('Applied Materials', 1),
 ('Aramark', 1),
 ('Archer Daniels Midland', 1),
 ('Arrow Electronics', 1),
 ('Assurant', 1),
 ('AutoNation', 1),
 ('AutoZone', 1),
 ('Autoliv', 1),
 ('Avis Budget Group', 1),
 ('Avnet', 1),
 ('BB&T Corp.', 1),
 ('Baker Hughes', 1),
 ('Ball', 1),
 ('Bank of America Corp.', 1),
 ('Bank of New York Mellon Corp.', 1),
 ('Baxter International', 1),
 ('Becton Dickinson', 1),
 ('Bed Bath & Beyond', 1),
 ('Berkshire Hathaway', 1),
 ('Best Buy', 1),
 ('Biogen', 1),
 ('BlackRock', 1),
 ('Boeing', 1),
 ('BorgWarner', 1),
 ('Bristol-Myers Squibb', 1),
 ('Broadcom', 1),
 ('C.H. Robinson Worldwide', 1),
 ('CBRE Group', 1),
 ('CBS', 1),
 ('CDW', 1),
 ('CHS', 1),
 ('CST Brands', 1),
 ('CSX', 1),
 ('CVS Health', 1),
 ('Cameron International', 1),
 ('Campbell Soup', 1),
 ('Capital One Financial', 1),
 ('CarMax', 1),
 ('Cardinal Health', 1),
 ('Caterpillar', 1),
 ('Celgene', 1),
 ('Centene', 1),
 ('CenturyLink', 1),
 ('Charter Communications', 1),
 ('Chesapeake Energy', 1),
 ('Chevron', 1),
 ('Cigna', 1),
 ('Cisco Systems', 1),
 ('Citigroup', 1),
 ('Coca-Cola', 1),
 ('Cognizant Technology Solutions', 1),
 ('Colgate-Palmolive', 1),
 ('Comcast', 1),
 ('Community Health Systems', 1),
 ('Computer Sciences', 1),
 ('ConAgra Foods', 1),
 ('ConocoPhillips', 1),
 ('Consolidated Edison', 1),
 ('Core-Mark Holding', 1),
 ('Corning', 1),
 ('Costco', 1),
 ('Crown Holdings', 1),
 ('Cummins', 1),
 ('D.R. Horton', 1),
 ('DISH Network', 1),
 ('DTE Energy', 1),
 ('DaVita HealthCare Partners', 1),
 ('Danaher', 1),
 ('Dean Foods', 1),
 ('Deere', 1),
 ('Delta Air Lines', 1),
 ('Devon Energy', 1),
 ('Discover Financial Services', 1),
 ('Disney', 1),
 ('Dollar General', 1),
 ('Dollar Tree', 1),
 ('Dominion Resources', 1),
 ('Dow Chemical', 1),
 ('DuPont', 1),
 ('Duke Energy', 1),
 ('EMC', 1),
 ('EOG Resources', 1),
 ('Eastman Chemical', 1),
 ('Ecolab', 1),
 ('Edison International', 1),
 ('Eli Lilly', 1),
 ('Emerson Electric', 1),
 ('Energy Transfer Equity', 1),
 ('Entergy', 1),
 ('Enterprise Products Partners', 1),
 ('Estee Lauder', 1),
 ('Eversource Energy', 1),
 ('Exelon', 1),
 ('Express Scripts Holding', 1),
 ('Exxon Mobil', 1),
 ('Facebook', 1),
 ('Fannie Mae', 1),
 ('Farmers Insurance Exchange', 1),
 ('FedEx', 1),
 ('Fidelity National Financial', 1),
 ('First Data', 1),
 ('FirstEnergy', 1),
 ('Fluor', 1),
 ('Ford Motor', 1),
 ('Franklin Resources', 1),
 ('Freddie Mac', 1),
 ('Freeport-McMoRan', 1),
 ('GameStop', 1),
 ('Gap', 1),
 ('General Dynamics', 1),
 ('General Electric', 1),
 ('General Mills', 1),
 ('General Motors', 1),
 ('Genuine Parts', 1),
 ('Genworth Financial', 1),
 ('Gilead Sciences', 1),
 ('Global Partners', 1),
 ('Goldman Sachs Group', 1),
 ('Goodyear Tire & Rubber', 1),
 ('Group 1 Automotive', 1),
 ('Guardian Life Ins. Co. of America', 1),
 ('HCA Holdings', 1),
 ('HD Supply Holdings', 1),
 ('HP', 1),
 ('Halliburton', 1),
 ('Hartford Financial Services Group', 1),
 ('Health Net', 1),
 ('Henry Schein', 1),
 ('Hertz Global Holdings', 1),
 ('Hilton Worldwide Holdings', 1),
 ('HollyFrontier', 1),
 ('Home Depot', 1),
 ('Honeywell International', 1),
 ('Hormel Foods', 1),
 ('Humana', 1),
 ('Huntsman', 1),
 ('IBM', 1),
 ('INTL FCStone', 1),
 ('Icahn Enterprises', 1),
 ('Illinois Tool Works', 1),
 ('Ingram Micro', 1),
 ('Intel', 1),
 ('International Paper', 1),
 ('J.C. Penney', 1),
 ('J.P. Morgan Chase', 1),
 ('Jabil Circuit', 1),
 ('Jacobs Engineering Group', 1),
 ('Jarden', 1),
 ('Johnson & Johnson', 1),
 ('Johnson Controls', 1),
 ('KKR', 1),
 ('Kellogg', 1),
 ('Kimberly-Clark', 1),
 ('Kinder Morgan', 1),
 ("Kohl's", 1),
 ('Kraft Heinz', 1),
 ('Kroger', 1),
 ('L Brands', 1),
 ('L-3 Communications', 1),
 ('Laboratory Corp. of America', 1),
 ("Land O'Lakes", 1),
 ('Las Vegas Sands', 1),
 ('Lear', 1),
 ('Lennar', 1),
 ('Leucadia National', 1),
 ('Level 3 Communications', 1),
 ('Liberty Interactive', 1),
 ('Liberty Mutual Insurance Group', 1),
 ('Lincoln National', 1),
 ('Lithia Motors', 1),
 ('Lockheed Martin', 1),
 ('Loews', 1),
 ("Lowe's", 1),
 ('MGM Resorts International', 1),
 ("Macy's", 1),
 ('ManpowerGroup', 1),
 ('Marathon Petroleum', 1),
 ('Marriott International', 1),
 ('Marsh & McLennan', 1),
 ('Masco', 1),
 ('Massachusetts Mutual Life Insurance', 1),
 ('MasterCard', 1),
 ("McDonald's", 1),
 ('McKesson', 1),
 ('Merck', 1),
 ('MetLife', 1),
 ('Micron Technology', 1),
 ('Microsoft', 1),
 ('Mohawk Industries', 1),
 ('Molina Healthcare', 1),
 ('Mondelez International', 1),
 ('Monsanto', 1),
 ('Morgan Stanley', 1),
 ('Mosaic', 1),
 ('Murphy USA', 1),
 ('NGL Energy Partners', 1),
 ('NRG Energy', 1),
 ('National Oilwell Varco', 1),
 ('Nationwide', 1),
 ('Navistar International', 1),
 ('New York Life Insurance', 1),
 ('Newmont Mining', 1),
 ('News Corp.', 1),
 ('NextEra Energy', 1),
 ('Nike', 1),
 ('Nordstrom', 1),
 ('Norfolk Southern', 1),
 ('Northrop Grumman', 1),
 ('Northwestern Mutual', 1),
 ('Nucor', 1),
 ("O'Reilly Automotive", 1),
 ('Occidental Petroleum', 1),
 ('Office Depot', 1),
 ('Omnicom Group', 1),
 ('Oneok', 1),
 ('Oracle', 1),
 ('Owens & Minor', 1),
 ('PBF Energy', 1),
 ('PG&E Corp.', 1),
 ('PNC Financial Services Group', 1),
 ('PPG Industries', 1),
 ('PPL', 1),
 ('PVH', 1),
 ('Paccar', 1),
 ('Pacific Life', 1),
 ('Parker-Hannifin', 1),
 ('PayPal Holdings', 1),
 ('Penske Automotive Group', 1),
 ('PepsiCo', 1),
 ('Performance Food Group', 1),
 ("Peter Kiewit Sons'", 1),
 ('Pfizer', 1),
 ('Philip Morris International', 1),
 ('Phillips 66', 1),
 ('Plains GP Holdings', 1),
 ('Praxair', 1),
 ('Precision Castparts', 1),
 ('Priceline Group', 1),
 ('Principal Financial', 1),
 ('Procter & Gamble', 1),
 ('Progressive', 1),
 ('Prudential Financial', 1),
 ('Public Service Enterprise Group', 1),
 ('Publix Super Markets', 1),
 ('Qualcomm', 1),
 ('R.R. Donnelley & Sons', 1),
 ('Raytheon', 1),
 ('Reinsurance Group of America', 1),
 ('Reliance Steel & Aluminum', 1),
 ('Republic Services', 1),
 ('Reynolds American', 1),
 ('Rite Aid', 1),
 ('Ross Stores', 1),
 ('Sears Holdings', 1),
 ('Sempra Energy', 1),
 ('Sherwin-Williams', 1),
 ('Sonic Automotive', 1),
 ('Southern', 1),
 ('Southwest Airlines', 1),
 ('SpartanNash', 1),
 ('Stanley Black & Decker', 1),
 ('Staples', 1),
 ('Starbucks', 1),
 ('State Farm Insurance Cos.', 1),
 ('State Street Corp.', 1),
 ('Stryker', 1),
 ('SunTrust Banks', 1),
 ('Supervalu', 1),
 ('Synnex', 1),
 ('Sysco', 1),
 ('TIAA', 1),
 ('TJX', 1),
 ('Target', 1),
 ('Tech Data', 1),
 ('Tenet Healthcare', 1),
 ('Tenneco', 1),
 ('Tesoro', 1),
 ('Texas Instruments', 1),
 ('Textron', 1),
 ('Thermo Fisher Scientific', 1),
 ('Thrivent Financial for Lutherans', 1),
 ('Time Warner', 1),
 ('Time Warner Cable', 1),
 ("Toys 'R' Us", 1),
 ('Travelers Cos.', 1),
 ('Twenty-First Century Fox', 1),
 ('Tyson Foods', 1),
 ('U.S. Bancorp', 1),
 ('UPS', 1),
 ('US Foods Holding', 1),
 ('USAA', 1),
 ('Union Pacific', 1),
 ('United Continental Holdings', 1),
 ('United Natural Foods', 1),
 ('United States Steel', 1),
 ('United Technologies', 1),
 ('UnitedHealth Group', 1),
 ('Univar', 1),
 ('Universal Health Services', 1),
 ('Unum Group', 1),
 ('VF', 1),
 ('Valero Energy', 1),
 ('Veritiv', 1),
 ('Verizon', 1),
 ('Viacom', 1),
 ('Visa', 1),
 ('Voya Financial', 1),
 ('W.W. Grainger', 1),
 ('Walgreens Boots Alliance', 1),
 ('Walmart', 1),
 ('Waste Management', 1),
 ('WellCare Health Plans', 1),
 ('Wells Fargo', 1),
 ('WestRock', 1),
 ('Western Digital', 1),
 ('Western Refining', 1),
 ('Whirlpool', 1),
 ('Whole Foods Market', 1),
 ('World Fuel Services', 1),
 ('Xcel Energy', 1),
 ('Xerox', 1),
 ('Yum Brands', 1),
 ('eBay', 1)]

#### 23. Have any sales reps worked on more than one account?

In [12]:
%%sql
SELECT 
    sales_rep_name,
    COUNT(DISTINCT company) AS num_accounts
FROM(
SELECT 
    sr.name AS sales_rep_name,
    sr.id,
    a.name AS company
FROM sales_reps AS sr
JOIN accounts AS a
ON a.sales_rep_id = sr.id
) AS rep_acc
GROUP BY sales_rep_name
HAVING COUNT(DISTINCT company) >= 2
ORDER BY num_accounts DESC

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Georgianna Chisholm', 15),
 ('Earlie Schleusner', 11),
 ('Maren Musto', 11),
 ('Vernita Plump', 11),
 ('Calvin Ollison', 11),
 ('Maryanna Fiorentino', 11),
 ('Micha Woodford', 11),
 ('Dorotha Seawell', 11),
 ('Hilma Busick', 10),
 ('Saran Ram', 10),
 ('Moon Torian', 10),
 ('Brandie Riva', 10),
 ('Arica Stoltzfus', 10),
 ('Dawna Agnew', 9),
 ('Elwood Shutt', 9),
 ('Marquetta Laycock', 9),
 ('Delilah Krum', 8),
 ('Tia Amato', 8),
 ('Julia Behrman', 8),
 ('Elna Condello', 7),
 ('Nelle Meaux', 7),
 ('Cliff Meints', 7),
 ('Babette Soukup', 7),
 ('Charles Bidwell', 7),
 ('Gianna Dossey', 7),
 ('Soraya Fulton', 7),
 ('Michel Averette', 7),
 ('Derrick Boggess', 7),
 ('Necole Victory', 6),
 ('Debroah Wardle', 6),
 ('Elba Felder', 6),
 ('Eugena Esser', 6),
 ('Samuel Racine', 6),
 ('Sibyl Lauria', 6),
 ('Chau Rowles', 5),
 ('Carletta Kosinski', 5),
 ('Sherlene Wetherington', 5),
 ('Kathleen Lalonde', 4),
 ('Renetta Carew', 4),
 ('Cara Clarke', 4),
 ('Lavera Oles', 4),
 ('Julie Starr', 4),
 ('Akilah Drinkard', 3),
 ('Shawanda Selke', 3),
 ('Nakesha Renn', 3),
 ('Ayesha Monica', 3),
 ('Cordell Rieder', 3),
 ('Silvana Virden', 3),
 ('Retha Sears', 3),
 ('Ernestine Pickron', 3)]

#### 24. How many of the sales reps have more than 5 accounts that they manage?

In [13]:
%%sql 
WITH cte AS(
SELECT 
    sr.name AS sales_rep_name,
    sr.id,
    a.name AS company
FROM sales_reps AS sr
JOIN accounts AS a
ON a.sales_rep_id = sr.id
)

SELECT 
    COUNT(*)
FROM (
SELECT 
    sales_rep_name,
    COUNT(DISTINCT company)
FROM cte
GROUP BY sales_rep_name
HAVING COUNT(DISTINCT company) >= 5
) AS more_than_5

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(37,)]

#### 25. How many accounts have more than 20 orders?

In [14]:
%%sql
SELECT
    COUNT(*)
FROM(
SELECT 
    account_id,
    COUNT(id) AS num_orders 
FROM orders
GROUP BY account_id
HAVING COUNT(id) > 20
) AS more_than_20

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(120,)]

#### 26. Which account has the most orders?

In [15]:
%%sql 
SELECT 
    company,
    COUNT(id) AS num_orders
FROM orders_consolidated
GROUP BY company
ORDER BY num_orders DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Leucadia National', 71)]

#### 27. How many accounts spent more than 30,000 USD total across all orders?

In [16]:
%%sql 
SELECT 
    COUNT(*)
FROM(
SELECT 
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
HAVING SUM(total_amt_usd) > 30000
ORDER BY total_spend DESC
) AS more_than_30000

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(204,)]

#### 28. Which accounts spent less than 1,000 USD total across all orders?

In [17]:
%%sql
SELECT 
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
HAVING SUM(total_amt_usd) < 1000

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('Delta Air Lines', Decimal('859.64')),
 ('Level 3 Communications', Decimal('881.73')),
 ('Nike', Decimal('390.25'))]

#### 29. Which account has spent the most with us?

In [18]:
%%sql
SELECT
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
ORDER BY total_spend DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('EOG Resources', Decimal('382873.30'))]

#### 30. Which account has spent the least with us?

In [20]:
%%sql
SELECT
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
ORDER BY total_spend 
LIMIT 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Nike', Decimal('390.25'))]

#### 31. Which accounts used Facebook as a channel to contact customers more than 6 times?

In [33]:
%%sql 
WITH cte AS (
SELECT 
    w.id AS event_id,
    w.account_id AS company_id,
    a.name AS company,
    w.occurred_at,
    w.channel
FROM web_events AS w
JOIN accounts AS a
ON w.account_id = a.id
WHERE channel = 'facebook'
)
SELECT 
    company,
    COUNT(event_id)
FROM cte
GROUP BY company
HAVING COUNT(event_id) > 6
ORDER BY COUNT(event_id) DESC

 * postgresql://postgres:***@localhost:5432/postgres
46 rows affected.

[('Gilead Sciences', 16),
 ('TJX', 15),
 ('AutoNation', 14),
 ('Charter Communications', 13),
 ('Philip Morris International', 12),
 ('Disney', 12),
 ('Marathon Petroleum', 12),
 ('Ecolab', 11),
 ('United Continental Holdings', 11),
 ('EOG Resources', 11),
 ('Aetna', 10),
 ('FirstEnergy', 10),
 ('Walgreens Boots Alliance', 10),
 ('New York Life Insurance', 10),
 ('Mosaic', 10),
 ('Lithia Motors', 10),
 ('Colgate-Palmolive', 10),
 ('BlackRock', 10),
 ('Massachusetts Mutual Life Insurance', 9),
 ('CST Brands', 9),
 ('Kinder Morgan', 9),
 ('Dollar General', 9),
 ('ADP', 9),
 ('Apple', 9),
 ('Arrow Electronics', 9),
 ('Cameron International', 9),
 ('Southwest Airlines', 9),
 ('General Mills', 9),
 ('Cisco Systems', 8),
 ('Paccar', 8),
 ('Core-Mark Holding', 8),
 ('Fluor', 8),
 ('General Dynamics', 8),
 ('PayPal Holdings', 8),
 ('PPL', 8),
 ('Farmers Insurance Exchange', 7),
 ('Parker-Hannifin', 7),
 ('Leucadia National', 7),
 ('J.P. Morgan Chase', 7),
 ('Avis Budget Group', 7),
 ('Wells Fargo', 7),
 ('Honeywell International', 7),
 ('Home Depot', 7),
 ('eBay', 7),
 ('Laboratory Corp. of America', 7),
 ('Best Buy', 7)]

#### 32. Which account used Facebook most as a channel?

In [37]:
%%sql 
WITH cte AS (
SELECT 
    w.id AS event_id,
    w.account_id AS company_id,
    a.name AS company,
    w.occurred_at,
    w.channel
FROM web_events AS w
JOIN accounts AS a
ON w.account_id = a.id
WHERE channel = 'facebook'
)
SELECT 
    company,
    COUNT(event_id)
FROM cte
GROUP BY company
ORDER BY COUNT(event_id) DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Gilead Sciences', 16)]

#### 33. Which channel was most frequently used by most accounts?

In [42]:
%%sql 
WITH cte AS (
SELECT 
    w.id AS event_id,
    w.account_id AS company_id,
    a.name AS company,
    w.occurred_at,
    w.channel
FROM web_events AS w
JOIN accounts AS a
ON w.account_id = a.id
)
SELECT 
    channel,
    COUNT(event_id)
FROM cte
GROUP BY channel
ORDER BY COUNT(event_id) DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('direct', 5298)]