### SUM Questions:
1. Find the total amount of poster_qty paper ordered in the orders table.
2. Find the total amount of standard_qty paper ordered in the orders table.
3. Find the total dollar amount of sales using the total_amt_usd in the orders table.
4. Find the total amount spent on standard_amt_usd and gloss_amt_usd paper for each order in the orders table. This should give a dollar amount for each order in the table.
5. Find the unit cost of each paper.

### MIN, MAX, & AVG Questions:
6. When was the earliest order ever placed?
7. Try performing the same query as in question 6 without using an aggregation function.
8. When did the most recent (latest) web_event occur?
9. Try to perform the result of the previous query without using an aggregation function.
10. Find the mean (AVERAGE) amount spent per order on each paper type, as well as the mean amount of each paper type purchased per order. Your final answer should have 6 values - one for each paper type for the average number of sales, as well as the average amount.

### GROUP BY Questions:
11. Which account (by name) placed the earliest order? Include the account name and the date of the order.
12. Find the total sales in USD for each account. You should include two columns - the total sales for each company's orders in USD and the company name.
13. Via what channel did the most recent (latest) web_event occur, which account was associated with this web_event? Your query should return only three values - the date, channel, and account name.
14. Find the total number of times each type of channel from the web_events was used. Your final table should have two columns - the channel and the number of times the channel was used.
15. Who was the primary contact associated with the earliest web_event?
16. What was the smallest order placed by each account in terms of total USD? Provide only two columns - the account name and the total USD. Order from smallest dollar amounts to largest.
17. Find the number of sales reps in each region. Your final table should have two columns - the region and the number of sales reps. Order from fewest reps to most reps.
18. For each account, determine the average amount of each type of paper they purchased across their orders. Your result should have four columns - one for the account name and one for the average quantity purchased for each of the paper types for each account.
19. For each account, determine the average amount spent per order on each paper type. Your result should have four columns - one for the account name and one for the average amount spent on each paper type.
20. Determine the number of times a particular channel was used in the web_events table for each sales rep. Your final table should have three columns - the name of the sales rep, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.
21. Determine the number of times a particular channel was used in the web_events table for each region. Your final table should have three columns - the region name, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.

### Using DISTINCT Questions:
22. Use DISTINCT to test if there are any accounts associated with more than one region.
23. Have any sales reps worked on more than one account?

### HAVING Questions:
24. How many of the sales reps have more than 5 accounts that they manage?
25. How many accounts have more than 20 orders?
26. Which account has the most orders?
27. How many accounts spent more than 30,000 USD total across all orders?
28. Which accounts spent less than 1,000 USD total across all orders?
29. Which account has spent the most with us?
30. Which account has spent the least with us?
31. Which accounts used Facebook as a channel to contact customers more than 6 times?
32. Which account used Facebook most as a channel?
33. Which channel was most frequently used by most accounts?

### DATE Functions Questions:
34. Find the sales in terms of total dollars for all orders in each year, ordered from greatest to least.
35. Which month did Parch & Posey have the greatest sales in terms of total dollars? Are all months evenly represented by the dataset?
36. Which year did Parch & Posey have the greatest sales in terms of total number of orders? Are all years evenly represented by the dataset?
37. Which month did Parch & Posey have the greatest sales in terms of total number of orders? Are all months evenly represented by the dataset?
38. In which month of which year did Walmart spend the most on gloss paper in terms of dollars?

### CASE Questions:
39. Write a query to display for each order, the account ID, total amount of the order, and the level of the order - ‘Large’ or ‘Small’ - depending on if the order is 3000 USD or more, or smaller than 3000 USD.
40. Write a query to display the number of orders in each of three categories, based on the total number of items in each order. The three categories are: 'At Least 2000', 'Between 1000 and 2000' and 'Less than 1000'.
41. We would like to understand 3 different levels of customers based on the amount associated with their purchases. The top level includes anyone with a Lifetime Value (total sales of all orders) greater than 200,000 USD. The second level is between 200,000 and 100,000 USD. The lowest level is anyone under 100,000 USD. Provide a table that includes the level associated with each account. You should provide the account name, the total sales of all orders for the customer, and the level. Order with the top spending customers listed first.
42. We would now like to perform a similar calculation to the first, but we want to obtain the total amount spent by customers only in 2016 and 2017. Keep the same levels as in the previous question. Order with the top spending customers listed first.

In [ ]:
!pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://postgres:Champions12!@localhost:5432/postgres

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%%sql
    SELECT * 
    FROM orders;

In [ ]:
%%sql
    SELECT * 
    FROM accounts;

In [ ]:
%%sql
    SELECT * 
    FROM region;

In [ ]:
%%sql
    SELECT * 
    FROM sales_reps;

In [ ]:
%%sql
    SELECT * 
    FROM web_events;

In [ ]:
%%sql 
DO $$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'orders_consolidated') THEN
        CREATE TABLE orders_consolidated AS
        SELECT 
            o.*,
            a.name AS company,
            a.primary_poc
        FROM orders AS o
        JOIN accounts AS a
        ON a.id = o.account_id;
    END IF;
END $$;

In [ ]:
%%sql
SELECT *
FROM orders_consolidated

#### 1. Find the total amount of poster_qty paper ordered in the orders table.

In [ ]:
%%sql 
SELECT 
    SUM(poster_qty) As total_poster_qty
FROM orders

#### 2. Find the total amount of standard_qty paper ordered in the orders table.

In [ ]:
%%sql 
SELECT 
    SUM(standard_qty) As total_standard_qty
FROM orders

#### 3. Find the total dollar amount of sales using the total_amt_usd in the orders table.

In [ ]:
%%sql 
SELECT 
    SUM(total_amt_usd) As total_dollar_sales
FROM orders

#### 4. Find the total amount spent on standard_amt_usd and gloss_amt_usd paper for each order in the orders table. This should give a dollar amount for each order in the table.

In [ ]:
%%sql
SELECT 
    id,
    standard_amt_usd + gloss_amt_usd AS total_standard_gloss
FROM orders

#### 5. Find the unit cost of each paper.

In [ ]:
%%sql
SELECT 
    ROUND(SUM(standard_amt_usd)/SUM(standard_qty),2) AS standard_unit_price,
    ROUND(SUM(gloss_amt_usd)/SUM(gloss_qty),2) AS gloss_unit_price,
    ROUND(SUM(poster_amt_usd)/SUM(poster_qty),2) AS poster_unit_price
FROM orders

#### 6. When was the earliest order ever placed?

In [ ]:
%%sql
SELECT 
    MIN(occurred_at) AS earliest_date
FROM orders

#### 7. Try performing the same query as in question 6 without using an aggregation function.

In [ ]:
%%sql
SELECT 
    occurred_at AS earliest_date
FROM orders
ORDER BY occurred_at
LIMIT 1

#### 8. When did the most recent (latest) web_event occur?

In [ ]:
%%sql
SELECT 
    *
FROM web_events
ORDER BY occurred_at
LIMIT 1

#### 9. Try to perform the result of the previous query without using an aggregation function.

In [ ]:
%%sql
SELECT 
    *
FROM web_events
ORDER BY occurred_at
LIMIT 1

#### 10. Find the mean (AVERAGE) amount spent per order on each paper type, as well as the mean amount of each paper type purchased per order. Your final answer should have 6 values - one for each paper type for the average number of sales, as well as the average amount.

In [ ]:
%%sql
SELECT
    ROUND(AVG(standard_amt_usd),2) AS standard_mean_amt,
    ROUND(AVG(standard_qty)) AS standard_mean_qty,
    ROUND(AVG(gloss_amt_usd),2) AS gloss_mean_amt,
    ROUND(AVG(gloss_qty)) AS gloss_mean_qty,
    ROUND(AVG(poster_amt_usd),2) AS poster_mean_amt,
    ROUND(AVG(poster_qty)) AS poster_mean_qty
FROM orders

#### 11. Which account (by name) placed the earliest order? Include the account name and the date of the order.

In [ ]:
%%sql
SELECT 
    company,
    MIN(occurred_at) AS earliest_order
FROM orders_consolidated
GROUP BY company
ORDER BY earliest_order
LIMIT 1

#### 12. Find the total sales in USD for each account. You should include two columns - the total sales for each company's orders in USD and the company name.

In [ ]:
%%sql
SELECT 
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
ORDER BY total_spend DESC

#### 13. Via what channel did the most recent (latest) web_event occur, which account was associated with this web_event? Your query should return only three values - the date, channel, and account name.

In [ ]:
%%sql
WITH web_cte AS (
    SELECT 
        w.*,
        a.name AS company
    FROM web_events AS w
    JOIN accounts AS a
    ON a.id = w.account_id
)
SELECT 
    *
FROM web_cte
ORDER BY occurred_at DESC
LIMIT 1

#### 14. Find the total number of times each type of channel from the web_events was used. Your final table should have two columns - the channel and the number of times the channel was used.

In [ ]:
%%sql
SELECT 
    channel,
    COUNT(channel) AS channel_used_count
FROM web_events
GROUP BY channel
ORDER BY channel_used_count DESC

#### 15. Who was the primary contact associated with the earliest web_event?

In [ ]:
%%sql
WITH web_cte AS (
    SELECT 
        w.*,
        a.name AS company,
        a.primary_poc
    FROM web_events AS w
    JOIN accounts AS a
    ON a.id = w.account_id
)
SELECT
    company,
    occurred_at,
    primary_poc
FROM(
SELECT 
    *
FROM web_cte
ORDER BY occurred_at DESC
LIMIT 1
) AS earliest_company

#### 16. What was the smallest order placed by each account in terms of total USD? Provide only two columns - the account name and the total USD. Order from smallest dollar amounts to largest.

In [ ]:
%%sql 
SELECT 
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
ORDER BY total_spend

#### 17. Find the number of sales reps in each region. Your final table should have two columns - the region and the number of sales reps. Order from fewest reps to most reps.

In [ ]:
%%sql
SELECT 
    region_id,
    COUNT(name) AS sales_rep_num
FROM sales_reps
GROUP BY region_id
ORDER BY region_id

#### 18. For each account, determine the average amount of each type of paper they purchased across their orders. Your result should have four columns - one for the account name and one for the average quantity purchased for each of the paper types for each account.

In [ ]:
%%sql 
SELECT 
    company,
    ROUND(AVG(standard_qty),0) AS avg_standard_qty,
    ROUND(AVG(gloss_qty),0) AS avg_gloss_qty,
    ROUND(AVG(poster_qty),0) AS avg_poster_qty
FROM orders_consolidated
GROUP BY company

#### 18. For each account, determine the average amount spent per order on each paper type. Your result should have four columns - one for the account name and one for the average amount spent on each paper type.

In [ ]:
%%sql 
SELECT 
    company,
    ROUND(AVG(standard_amt_usd),2) AS avg_standard_qty,
    ROUND(AVG(gloss_amt_usd),2) AS avg_gloss_qty,
    ROUND(AVG(poster_amt_usd),2) AS avg_poster_qty
FROM orders_consolidated
GROUP BY company

#### 20. Determine the number of times a particular channel was used in the web_events table for each sales rep. Your final table should have three columns - the name of the sales rep, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.

In [ ]:
%%sql
SELECT
    primary_poc,
    channel,
    COUNT(occurred_at) AS num_count
FROM (
SELECT 
    w.id AS web_id,
    w.account_id,
    w.occurred_at,
    w.channel,
    a.name AS company,
    a.primary_poc,
    sales_rep_id
FROM web_events AS w
JOIN accounts AS a
ON a.id = w.account_id
) AS web_sales
GROUP BY primary_poc, channel
ORDER BY num_count DESC

#### 21. Determine the number of times a particular channel was used in the web_events table for each region. Your final table should have three columns - the region name, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.

In [ ]:
%%sql 
SELECT
    region_id,
    channel,
    COUNT(order_id) AS order_count
FROM (
SELECT 
    w.id AS order_id,
    w.account_id AS company_id,
    channel, 
    a.name AS company,
    sr.region_id AS region_id
FROM web_events AS w
JOIN accounts AS a
ON a.id = w.account_id
JOIN sales_reps AS sr
ON sr.id = a.sales_rep_id
) AS web_sales_rep
GROUP BY region_id, channel
ORDER BY order_count DESC

#### 22. Use DISTINCT to test if there are any accounts associated with more than one region.

In [ ]:
%%sql
SELECT 
    name AS company,
    COUNT(DISTINCT region_id) AS unique_region_count
FROM(
SELECT
    a.*,
    sr.name AS rep_name,
    sr.region_id
FROM accounts AS a
JOIN sales_reps AS sr
ON a.sales_rep_id = sr.id
) AS rep_account
GROUP BY company
ORDER BY unique_region_count DESC

#### 23. Have any sales reps worked on more than one account?

In [ ]:
%%sql
SELECT 
    sales_rep_name,
    COUNT(DISTINCT company) AS num_accounts
FROM(
SELECT 
    sr.name AS sales_rep_name,
    sr.id,
    a.name AS company
FROM sales_reps AS sr
JOIN accounts AS a
ON a.sales_rep_id = sr.id
) AS rep_acc
GROUP BY sales_rep_name
HAVING COUNT(DISTINCT company) >= 2
ORDER BY num_accounts DESC

#### 24. How many of the sales reps have more than 5 accounts that they manage?

In [ ]:
%%sql 
WITH cte AS(
SELECT 
    sr.name AS sales_rep_name,
    sr.id,
    a.name AS company
FROM sales_reps AS sr
JOIN accounts AS a
ON a.sales_rep_id = sr.id
)

SELECT 
    COUNT(*)
FROM (
SELECT 
    sales_rep_name,
    COUNT(DISTINCT company)
FROM cte
GROUP BY sales_rep_name
HAVING COUNT(DISTINCT company) >= 5
) AS more_than_5

#### 25. How many accounts have more than 20 orders?

In [ ]:
%%sql
SELECT
    COUNT(*)
FROM(
SELECT 
    account_id,
    COUNT(id) AS num_orders 
FROM orders
GROUP BY account_id
HAVING COUNT(id) > 20
) AS more_than_20

#### 26. Which account has the most orders?

In [ ]:
%%sql 
SELECT 
    company,
    COUNT(id) AS num_orders
FROM orders_consolidated
GROUP BY company
ORDER BY num_orders DESC
LIMIT 1

#### 27. How many accounts spent more than 30,000 USD total across all orders?

In [ ]:
%%sql 
SELECT 
    COUNT(*)
FROM(
SELECT 
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
HAVING SUM(total_amt_usd) > 30000
ORDER BY total_spend DESC
) AS more_than_30000

#### 28. Which accounts spent less than 1,000 USD total across all orders?

In [ ]:
%%sql
SELECT 
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
HAVING SUM(total_amt_usd) < 1000

#### 29. Which account has spent the most with us?

In [ ]:
%%sql
SELECT
    company,
    SUM(total_amt_usd) AS total_spend
FROM orders_consolidated
GROUP BY company
ORDER BY total_spend DESC
LIMIT 1